@import './reset.css';
@import './globalStyles.css';

*{
    font-family: var(--font-family-medium);
}
body{
    background: rgb(47,44,88);
    background: linear-gradient(90deg, rgb(20, 30, 48) 6%, rgb(36, 59, 85) 54%, rgb(36, 59, 85) 96%);
}